apto,bloco,usuario,senha
101,1,cecifagundes@hotmail.com,ceci101-1
102,1,FALTA CADASTRO,
103,1,thiagokoerich@gmail.com,thiago103-1
104,1,flaviaccauan@gmail.com,flavia104-1
105,1,lucasvidalmachado@hotmail.com,lucas105-1
106,1,vanissebsgi@hotmail.com,vanisse106-1
107,1,SEM EMAIL NO CADASTRO,
108,1,FALTA CADASTRO,
201,1,rodrigo___pereira@hotmail.com,rodrigo201-1
202,1,FALTA CADASTRO,
203,1,rodrigoadm26@gmail.com,rodrigo203-1
204,1,suelen.silva@hotmail.com.br,ssilva204-1
205,1,suelen.silva@hotmail.com.br,laerte205-1
206,1,luavila9@hotmail.com,luavila206-1
207,1,luavila9@hotmail.com,lelaa207-1
208,1,FALTA CADASTRO,
301,1,FALTA CADASTRO,
302,1,kelly.loja@hotmail.com,kelly302-1
303,1,ediane_marangon@hotmail.com,ediane303-1
304,1,jeancarlos2020@hotmail.com,jean304-1
305,1,eliton.aconsultor@hotmail.com,el.cons305-1
306,1,FALTA CADASTRO,
307,1,mlrocca@terra.com.br,rocca307-1
308,1,FALTA CADASTRO,
401,1,FALTA CADASTRO,
402,1,FALTA CADASTRO,
403,1,natanimarchezzoni@gmail.com,natani403-1
404,1,FALTA CADASTRO,
405,1,FALTA CADASTRO,
406,1,souzagaabriel@gmail.com,souza406-1
407,1,FALTA CADASTRO,
408,1,rafaelsadriano@hotmail.com,rafael408-1
501,1,rogerioborgesjunior@gmail.com,rogerio501-1
502,1,davidskt@hotmail.com,david502-1
,,,
apto,bloco,,Senha
101,2,FALTA CADASTRO,
102,2,elenicebehs@hotmail.com,elenice102-2
103,2,EMAIL ILEGIVEL,
104,2,chrismartini@live.com,chris104-2
105,2,magdanicoleit2@gmail.com,mag105-2
106,2,clecifaistic@gmail.com,cleci106-2
107,2,paulabalbis@gmail.com,paula107-2
108,2,FALTA CADASTRO,
201,2,FALTA CADASTRO,
202,2,FALTA CADASTRO,
203,2,veralucas.lucas@gmail.com,vera203-2
204,2,tainarodrigues@hotmail.com,taina204-2
205,2,SEM EMAIL NO CADASTRO,
206,2,luizfernandofreitasfreitas@gmail.com,luiz206-2
207,2,silnic71@yahoo.com.br,silsil207-2
208,2,FALTA CADASTRO,
301,2,rodrigo.rbveiculos@outlook.com,rodri301-2
302,2,FALTA CADASTRO,
303,2,leomeyer_78@hotmail.com,leo303-2
304,2,sandrabetinassi@hotmail.com,sandra304-2
305,2,FALTA CADASTRO,
306,2,fran_bonetti@yahoo.com.br,fran306-2
307,2,FALTA CADASTRO,
308,2,SEM EMAIL NO CADASTRO,
401,2,fabio.fpereira@hotmail.com,fabio401-2
402,2,andreunisul@gmail.com,andre402-2
403,2,josianediasdelima@gmail.com,josiane403-2
404,2,najla_santos@yahoo.com.br,najla404-2
405,2,priscilarosanichele@gmail.com,priscila405-2
406,2,francinemedeiros@gmail.com,francine406-2
407,2,lucasgobo@gmail.com,lucas407-2
408,2,aly_muller@hotmail.com,aly408-2
501,2,rejanneamaral@hotmail.com,rejanne501-2
502,2,carrudasalome@gmail.com,carruda502-2
,,,
apto,bloco,usuario,senha
101,3,FALTA CADASTRO,
102,3,FALTA CADASTRO,
103,3,FALTA CADASTRO,
104,3,boianovsky@gmail.com,vsky104-3
105,3,asergionascimento@gmail.com,asergio105-3
106,3,FALTA CADASTRO,
107,3,SEM EMAIL NO CADASTRO,
108,3,bianca@gicon.cnt.br,bigicon108-3
201,3,lincolnpinesso@hotmail.com,pinesso201-3
202,3,FALTA CADASTRO,
203,3,FALTA CADASTRO,
204,3,FALTA CADASTRO,
205,3,kellygarciasc@hotmail.com,garcia205-3
206,3,brunenhuw@hotmail.com,nhuw206-3
207,3,fabianapaganini@hotmail.com,paganini207-3
208,3,SEM EMAIL NO CADASTRO,
301,3,FALTA CADASTRO,
302,3,fernandomarcon@yahoo.com.br,marcon302-3
303,3,cristiano.frantz@gmail.com,frantz303-3
304,3,julian.ricardo@hotmail.com,ricardo304-3
305,3,eduardobaima@yahoo.com.br,baima305-3
306,3,ribeiro_higor@hotmail.com,higor306-3
307,3,medeirosismael@hotmail.com,ismael307-3
308,3,FALTA CADASTRO,
401,3,SEM EMAIL NO CADASTRO,
402,3,priscilajbj@hotmail.com,jbj402-3
403,3,FALTA CADASTRO,
404,3,EMAIL ILEGIVEL,
405,3,gmzuza@gmail.com,zuza405-3
406,3,chicorecanto@gmail.com,chico.re406-3
407,3,FALTA CADASTRO,
408,3,georgelucas_peixer@hotmail.com,gelucas408-3
501,3,FALTA CADASTRO,
502,3,FALTA CADASTRO,
,,,
apto,bloco,usuario,senha
101,4,FALTA CADASTRO,
102,4,tekaauri@hotmail.com,teka102-4
103,4,FALTA CADASTRO,
104,4,SEM EMAIL NO CADASTRO,
105,4,FALTA CADASTRO,
106,4,jairedu11@hotmail.com,jair106-4
107,4,FALTA CADASTRO,
108,4,cavalcantipc@gmail.com,cantipc108-4
201,4,FALTA CADASTRO,
202,4,henriquetancredo@gmail.com,tancre202-4
203,4,eduardo.garbulio@outlook.com,edu203-4
204,4,jrsoares.melo@hotmail.com,soares204-4
205,4,ruas.myrella@gmail.com,lla205-4
206,4,SEM EMAIL NO CADASTRO,
207,4,FALTA CADASTRO,
208,4,FALTA CADASTRO,
301,4,knoxviana@gmail.com,knox301-4
302,4,andrecoral@gmail.com,coral302-4
303,4,fernandoo0@hotmail.com,nando303-4
304,4,FALTA CADASTRO,
305,4,aguasdeingleses@gmail.com,aguas305-4
305,4,EMAIL ILEGIVEL,
306,4,arquitetaelaine@hotmail.com,elaine306-4
307,4,andressa_z@hotmail.com,andressa307-4
308,4,mhflores@bol.com.br,flores308-4
401,4,SEM EMAIL NO CADASTRO,
402,4,francisco.martins@net.com.br,martins402-4
403,4,cleuza.amaral@cepon.org.br,cepon403-4
404,4,hana.holoubkova.cz@volny.cz,hhcz404-4
405,4,FALTA CADASTRO,
406,4,andre_romo@hotmail.com,romo406-4
407,4,FALTA CADASTRO,
408,4,FALTA CADASTRO,
501,4,marina.anjosboeira@gmail.com,anjos501-4
502,4,biadedeus@hotmail.com,deus502-4
,,,
101,5,daise.dr@hotmail.com,dr.101-5
102,5,EMAIL ILEGIVEL,
103,5,marcop2011@gmail.com,2011103-5
104,5,naita.silva@hotmail.com,naita103-5
105,5,giliardmetzker@hotmail.com,metzker105-5
106,5,jocelia6s@hotmail.com,j.celia106-5
107,5,brunanunes@gmail.com,nunes107-5
108,5,rohdelucia@gmail.com,roh108-5
201,5,contato@fgstudio.com.br,studio201-5
202,5,dornellesne@bol.com.br,sne202-5
203,5,FALTA CADASTRO,
204,5,munizarquitetura@yahoo.com.br,muniz204-5
205,5,estrela_morena@hotmail.com,rena205-5
206,5,robertojornal@gmail.com,jor206-5
207,5,jammile_zunino@hotmail.com,jaz207-5
208,5,FALTA CADASTRO,
301,5,FALTA CADASTRO,
302,5,alexfsantos21@hotmail.com,fsan302-5
303,5,SEM EMAIL NO CADASTRO,
304,5,camilarcoliveira@hotmail.com,oli304-5
305,5,rovanopetry@hotmail.com,petry305-5
306,5,FALTA CADASTRO,
307,5,cris.rggrillo@hotmail.com,grillo307-5
308,5,viacatarina@boreallivraria.com.br,via308-5
401,5,profandrefsc@yahoo.com.br,fsc401-5
402,5,FALTA CADASTRO,
403,5,betaesteves@gmail.com,esteves403-5
404,5,andre_ulisses@hotmail.com,ses404-5
405,5,FALTA CADASTRO,
406,5,alex.moura80@gmail.com,a80406-5
407,5,rodrigo_jesus79@hotmail.com,r79407-5
408,5,marisol.ltda@hotmail.com,sol408-5
501,5,ericson.neto@gmail.com,eto501-5
502,5,SEM EMAIL NO CADASTRO,
,,,
101,6,pottescleber@gmail.com,cleber101-6
102,6,luciak2011@gmail.com,2011102-6
103,6,brunonass@hotmail.com,nass103-6
104,6,anderson@creare.com.br,ads104-6
105,6,gisacarmes@gmail.com,gis105-6
106,6,rikyfnb@hotmail.com,fnb106-6
107,6,FALTA CADASTRO,
108,6,rosaninhateodoro@hotmail.com,oro108-6
201,6,dudu_brt@hotmail.com,dbrt201-6
202,6,tatianedoliveira22@yahoo.com.br,t22202-6
203,6,andpereira27@hotmail.com,a27203-6
204,6,fran.souza1004@gmail.com,fza204-6
205,6,tarjasouza.gabi@gmail.com,tgb205-6
206,6,FALTA CADASTRO,
207,6,apcdu@hotmail.com,cdu207-6
208,6,marinamarzarotto@hotmail.com,mto208-6
301,6,fabischatzis@yahoo.com.br,zis301-6
301,6,SEM EMAIL NO CADASTRO,
302,6,gustavoalouro@yahoo.com.br,gro302-6
303,6,FALTA CADASTRO,
304,6,marcosw_59@hotmail.com,m59304-6
305,6,armin.kng@gmail.com,akng305-6
306,6,rodrigodias79@yahoo.com.br,r79306-6
307,6,rosi_mil@hotmail.com,rmil307-6
308,6,EMAIL ILEGIVEL,
401,6,morgana@estatusotica.com.br,mgn401-6
402,6,FALTA CADASTRO,
403,6,lljone_25ll@yahoo.com.br,jone403-6
404,6,FALTA CADASTRO,
405,6,alsindo.licitsul@terra.com.br,asd405-6
406,6,fernanda_conrado@hotmail.com,fcr406-6
407,6,EMAIL ILEGIVEL,
408,6,FALTA CADASTRO,
501,6,silvio_pri@hotmail.com,slv501-6
502,6,brunodaluzferreira@gmail.com,blf502-6
,,,
101,7,humbertoznetto@gmail.com,HBT101-7
102,7,FALTA CADASTRO,
103,7,FALTA CADASTRO,
104,7,s_andrieli@hotmail.com,and104-7
105,7,EMAIL ILEGIVEL,
106,7,FALTA CADASTRO,
107,7,FALTA CADASTRO,
108,7,FALTA CADASTRO,
201,7,FALTA CADASTRO,
202,7,FALTA CADASTRO,
203,7,FALTA CADASTRO,
204,7,ju_araujo3@hotmail.com,ja3204-7
205,7,anah_flaviah@hotmail.com,afh206-7
206,7,fagner@connectcopiadoras.com.br,fgn206-7
207,7,FALTA CADASTRO,
208,7,FALTA CADASTRO,
301,7,acordes@komeco.com.br,acd301-7
302,7,rodgergj@msn.com,rdg302-7
303,7,tuany.nandi@gmail.com,tyn304-7
304,7,mirianegizelle@gmail.com,mgl304-7
305,7,EMAIL ILEGIVEL,
306,7,EMAIL ILEGIVEL,
307,7,FALTA CADASTRO,
308,7,FALTA CADASTRO,
401,7,michelfelipesan@gmail.com,mfs401-7
402,7,FALTA CADASTRO,
403,7,FALTA CADASTRO,
404,7,tanianarcizo@hotmail.com,tnz404-7
405,7,fabiocaruzo@hotmail.com,fcz405-7
406,7,lilasbruzzi@msn.com,lbz406-7
407,7,FALTA CADASTRO,
408,7,FALTA CADASTRO,
501,7,viviane_pinesso@hotmail.com,vvp501-7
502,7,FALTA CADASTRO,
,,,
101,8,FALTA CADASTRO,
102,8,ikfreire@hotmail.com,ikf102-8
103,8,cesarcdm@yahoo.com.br,cdm103-8
104,8,EMAIL ILEGIVEL,
105,8,xzehx@hotmail.com,ehx105-8
106,8,FALTA CADASTRO,
107,8,FALTA CADASTRO,
108,8,FALTA CADASTRO,
201,8,FALTA CADASTRO,
202,8,marcelo_damasco@hotmail.com,mdc202-8
203,8,FALTA CADASTRO,
204,8,FALTA CADASTRO,
205,8,FALTA CADASTRO,
206,8,ricobettega@hotmail.com,rbt206-8
207,8,FALTA CADASTRO,
208,8,FALTA CADASTRO,
301,8,FALTA CADASTRO,
302,8,deboragrassano@yahoo.com.br,dgs302-8
303,8,johnson@eskimor.com.br,jhn303-8
304,8,eduardorkh@yahoo.com.br,edh304-8
305,8,FALTA CADASTRO,
306,8,FALTA CADASTRO,
307,8,FALTA CADASTRO,
308,8,FALTA CADASTRO,
401,8,lu_luiza@bol.com.br,lza401-8
402,8,alinefloripa2013@gmail.com,alf402-8
403,8,agentebrum@gmail.com,agb403-8
404,8,rafael@alfambiental.com.br,rfl404-8
405,8,moprazeres@gmail.com,mpr405-8
406,8,FALTA CADASTRO,
407,8,FALTA CADASTRO,
408,8,FALTA CADASTRO,
501,8,FALTA CADASTRO,
502,8,FALTA CADASTRO,
,,,
101,9,andreluiz_bancario@yahoo.com.br,adl101-9
102,9,FALTA CADASTRO,
103,9,dedencr@hotmail.com,ddc103-9
104,9,EMAIL ILEGIVEL,
105,9,avenida-automoveis@hotmail.com,avn105-9
106,9,FALTA CADASTRO,
107,9,FALTA CADASTRO,
108,9,FALTA CADASTRO,
201,9,FALTA CADASTRO,
202,9,jeanjv@gmail.com,jnv202-9
203,9,sussajasmim@hotmail.com,sja203-9
204,9,FALTA CADASTRO,
205,9,leonardoromao.p@gmail.com,lrm205-9
206,9,FALTA CADASTRO,
207,9,FALTA CADASTRO,
208,9,FALTA CADASTRO,
301,9,tatiprates.sc@gmail.com,prt301-9
302,9,rafael.carvalho1@br.nestle.com,rc1302-9
303,9,ferreirajul@hotmail.com,jfr303-9
304,9,tiugucorso@gmail.com,tiu304-9
305,9,EMAIL ILEGIVEL,
306,9,FALTA CADASTRO,
307,9,FALTA CADASTRO,
308,9,FALTA CADASTRO,
401,9,EMAIL ILEGIVEL,
402,9,EMAIL ILEGIVEL,
403,9,henrique.corazza@gmail.com,hcr403-9
404,9,joiefn@yahoo.com.br,jfn404-9
405,9,everaldojfelix@gmail.com,evf405-9
406,9,FALTA CADASTRO,
407,9,FALTA CADASTRO,
408,9,FALTA CADASTRO,
501,9,SEM EMAIL NO CADASTRO,
502,9,FALTA CADASTRO,

